/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
/*@import url(css/font-awesome.min.css);*/
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
/*@import url(swiper.min.css);*/
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    color: #2C6975;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.navbar-nav {
    margin: 0 auto;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.header_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: 100%;
    padding: 10px 0px 25px 0px;
    background-repeat: no-repeat;
}

.logo {
    width: 15%;
    float: left;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    color: #2C6975; /* Dark blue color from the palette */
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #68B2A0; /* Light green color from the palette */
}

.navbar {
    padding: .5rem 70px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #15e4d0;
}

.form-inline .form-control {
    transition: all 0.5s ease-in-out; /* Thêm hiệu ứng chuyển đổi */
    width: 200px;
}

.form-inline .form-control:focus {
    transition: all 0.5s ease-in-out; /* Thêm hiệu ứng chuyển đổi */
    width: 350px; /* Thay đổi kích thước khi thanh tìm kiếm được focus */
}

.form-control {
    border-radius: 10px;
    height: 45px;
}

.btn-outline-success {
    background-color: #2C6975;
    color: #E0ECDE;
    border: 1px solid #E0ECDE;
    border-radius: 180px;
    width: 45px;
    height: 45px;
}

.btn-outline-success:hover {
    background-color: #E0ECDE;
    color: #2C6975;
    border: 1px solid #2C6975;
}

.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 105px;
}

.images_1 {
    width: 80%;
    float: right;
    padding-top: 50px;
}

.banner-taital {
    width: 100%;
    float: left;
    font-size: 60px;
    color: #68B2A0;
    font-weight: bold;
    line-height: 60px;
    padding-top: 120px;
}

.banner-text {
    width: 100%;
    float: left;
    font-size: 16px;
    margin: 0px;
    color: #2C6975;
}

.btn_main {
    width: 100%;
    float: left;
    margin-top: 30px;
}

.more_bt {
    width: 170px;
    float: left;
}

.more_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #f6f8f8;
    background-color: #68B2A0;
    text-align: center;
    padding: 10px 0px;
}

.more_bt a:hover {
    background-color: #68B2A0;
}

.contact_bt {
    width: 170px;
    float: left;
    margin-left: 15px;
}

.contact_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #f6f8f8;
    background-color: #333333;
    text-align: center;
    padding: 10px 0px;
}

.contact_bt a:hover {
    color: #f6f8f8;
    background-color: #2C6975;
}

.image_1 img {
    margin-top: 25px;
}

#doctor-carousel .carousel-control-prev:hover,
#doctor-carousel .carousel-control-next:hover {
    background-color: #E0ECDE;
    color: #2C6975;
}

#doctor-carousel .carousel-control-prev,
#doctor-carousel .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2C6975;
    opacity: 1;
    font-size: 30px;
    color: #E0ECDE;
    border-radius: 100%;
    width: 65px;
    height: 65px;
}

#doctor-carousel .carousel-control-prev {
    left: 10%;
}

#doctor-carousel .carousel-control-next {
    right: 10%;
}

.trend-container {
    margin-top: 300px;
    margin-bottom: 100px;
}

.trend-doctor-title {
    text-align: center; /* Căn giữa tiêu đề */
    margin-top: 20px; /* Khoảng cách từ trên xuống */
    font-size: 36px; /* Kích thước tiêu đề */
    font-weight: bold; /* In đậm */
    color: #2C6975; /* Màu chữ tiêu đề */
}

/* Style cho danh sách bác sĩ theo chiều ngang */
.horizontal-doctor-list {
    display: flex; /* Hiển thị các phần tử con theo chiều ngang */
    flex-wrap: nowrap; /* Ngăn các phần tử con tràn xuống hàng dưới khi không đủ không gian */
    overflow-x: auto; /* Hiển thị thanh cuộn ngang nếu danh sách quá rộng */

}

/* Style cho mỗi phần tử bác sĩ trong danh sách */
.doctor-block {
    width: 32%; /* Kích thước của mỗi phần tử bác sĩ */
    min-width: 430px;
    height: fit-content;
    min-height: 420px;
    margin-right: 20px; /* Khoảng cách giữa các phần tử bác sĩ */
    display: flex; /* Hiển thị các phần tử con bên trong theo chiều ngang */
    flex-direction: column; /* Sắp xếp các phần tử con bên trong theo chiều dọc */
    box-shadow: 0px 0px 6px #2C6975;
    border-radius: 20px;
    padding: 20px;
    line-height: 1.2;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

/* Style cho hình ảnh đại diện */
.doctor-img img {
    margin-right: 20px; /* Giảm khoảng cách giữa hình ảnh và thông tin bác sĩ */
}

.doctor-img {
    min-height: 125px;
    min-width: 125px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.doctor-rating {
    margin-top: 10px;
}

/* Style cho thông tin bác sĩ */
.doctor-information {
    flex-grow: 1; /* Để phần thông tin bác sĩ mở rộng để lấp đầy khoảng trống còn lại */
    display: flex;
    flex-direction: column;
}

/* Style cho phần giới thiệu */
.doctor-intro {
    color: gray;
    max-height: 100px; /* Điều này giới hạn chiều cao của phần giới thiệu */
}

.doctor-introduce {
    padding-right: 20px;
    flex-grow: 1;
}

.find-more {
    align-items: center;
    padding-top: 40px;
    background-color: white;
}

/* Style cho nút 'Tìm hiểu thêm' */
.find-more a {
    position: static;
    transform: translateX(-50%);
    background-color: #2C6975;
    color: #E0ECDE;
    border-radius: 10px;
    margin-right: 5px;
    padding: 10px;
}

.find-more a:hover {
    background-color: #E0ECDE;
    color: #2C6975;
    border: 1px solid #2C6975;
}

.banner_section {
    /*    width: 100%;
        float: left;
        background-image: url(../images/knowledge-bg.png);
        background-size: 100%;
        height: auto;
        background-repeat: no-repeat;
        padding-top: 180px;
        padding-bottom: 240px;*/
    color: #E0ECDE;
    padding: 20px;
}


.banner_main {
    width: 100%;
    float: left;
}

.banner_title {
    /*    width: 100%;
        float: left;*/
    font-size: 40px;
    color: #E0ECDE;
    font-weight: bold;
}

.banner_text {
    /*    width: 100%;
        float: left;*/
    font-size: 20px;
    color: #E0ECDE;
    /*margin: 0px;*/
}

.banner_bullet_points .col {
    display: flex; /* Sử dụng flexbox để căn giữa nội dung theo cả hai hướng */
    flex-direction: column; /* Sắp xếp nội dung theo hàng dọc */
    justify-content: center; /* Căn giữa nội dung theo hướng dọc */
    align-items: center; /* Căn giữa nội dung theo hướng ngang */
    padding: 10px; /* Thêm khoảng cách giữa các bộ (number-description) */
}

.banner-number {
    font-size: 64px;
    font-weight: bold;
    margin-top: 60px;
}

.number-description {
    font-size: 16px;
    margin-bottom: 60px;
    text-align: center;
}

#description {
    width: 100%;
}

@keyframes fadeEffect {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1
    }
    100% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0;
    }
}

.news_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}


.news_section_2 {
    width: 100%;
    float: left;
}

.news_section_3 {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.news-block {
    min-width: 31.8%;
    min-height: 450px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 2px 1px #cccccc;
    border-radius: 20px;
    padding: 20px;
    line-height: 1.3;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.news-cover img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding-bottom: 20px;
}

.news-title {
    font-size: 20px;
    font-weight: bold;
    color: #2C6975;
}

.news-author {
    color: gray;
    font-size: 14px;
}

.news-create-time, .news-view-count {
    color: gray;
    font-size: 12px;
}

.news-create-time {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.news-view-count {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.box_main {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
    border-radius: 15px;
    padding: 40px;
}

.box_main:hover {
    background-color: #1becde;
}

.box_main.active {
    background-color: #1becde;
}

.icon_1 {
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 20px;
    line-height: 95px;
}

.contact_section {
    width: 100%;
    float: left;
    background-image: url(../images/contact-bg.png);
    color: #E0ECDE;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 150px;
}

.contact_taital {
    width: 100%;
    float: left;
    font-size: 50px;
    color: #030202;
    font-weight: bold;
}

.icon_main {
    width: 100%;
    display: flex;
    padding-top: 50px;
    filter: brightness(0) saturate(100%) invert(34%) sepia(46%) saturate(518%) hue-rotate(142deg) brightness(95%) contrast(91%);
}

.icon_7 {
    width: 20%;
    float: left;
}

.diabetes_text {
    width: 70%;
    float: left;
    font-size: 30px;
    color: #040101;
    font-weight: 500;
}

.contact_box {
    width: 100%;
    float: left;
    background-color: #f1fafb;
    height: auto;
    padding: 30px;
}

.book_text {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #252525;
    text-align: center;
    font-weight: 500;
}

.Email_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #bebebe;
    background-color: #ffffff;
    padding: 5px 15px;
    border: 0px;
    margin-top: 30px;
}

.massage-bt {
    width: 100%;
    float: left;
    color: #bebebe;
    height: 110px;
    font-size: 18px;
    padding: 36px 20px 10px 20px;
    background-color: #ffffff;
    border: 0px;
    margin-top: 30px;
}

.send_bt {
    width: 140px;
    margin: 0 auto;
    text-align: center;
}

.send_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #1becde;
    padding: 7px 0px;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
}

.send_bt a:hover {
    background-color: #252525;
}

.client_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.client_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    text-align: center;
    color: #111010;
    font-weight: bold;
}

.client_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #444443;
    text-align: center;
    margin: 0px;
}

.client_section_2 {
    width: 100%;
    float: left;
    padding-top: 60px;
}

.client_left {
    width: 40%;
    float: left;
}

.client_right {
    width: 60%;
    float: left;
    padding-top: 100px;
}

.client_img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    display: block;
    object-fit: cover;
}

.carousel-indicators li {
    background-color: #E0ECDE !important;
}
.carousel-indicators .active {
    background-color: #2C6975 !important;
}

.distracted_text {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #080808;
    font-weight: bold;
    text-transform: uppercase;
}

.review-content {
    min-height: 300px;
}

.lorem_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #444443;
    margin: 0px;
    overflow: auto; /* Thêm thanh cuộn nếu nội dung vượt quá chiều cao tối đa */
}

.quote_icon {
    width: 100%;
    float: left;
    padding-top: 20px;
}

#my_slider .carousel-control-prev:hover,
#my_slider .carousel-control-next:hover,
#my_slider .carousel-control-prev:focus,
#my_slider .carousel-control-next:focus {
    background-color: #19e9d9;
    color: #ffffff;
}

#my_slider a.carousel-control-next {
    position: absolute;
    left: 490px;
    top: 70%;
    background-color: #19e9d9;
    color: #ffffff;
}

#my_slider a.carousel-control-prev {
    position: absolute;
    left: 490px;
    top: 84%;
    background-color: #252525;
}

#my_slider .carousel-control-prev,
#my_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background-color: #252525;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

.footer_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
    padding-bottom: 50px;
    box-shadow: 0px 24px 19px -1px #222223;
    position: relative;
}

.footer_logo {
    width: 80%;
    float: left;
    padding: 0px 0px 30px 0px;
}

.adderss_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #ffffff;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.map_icon {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #E0ECDE;
    padding-bottom: 10px;
}

.paddlin_left_0 {
    padding-left: 15px;
}

.hiphop_text_1 {
    width: 90%;
    color: #E0ECDE;
    font-size: 16px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.hiphop_text_1 a {
    color: #E0ECDE;
}

.hiphop_text_1 a:hover {
    color: #68B2A0;
}

.Useful_text {
    width: 50%;
    color: #E0ECDE;
    font-size: 16px;
    margin-left: 0px;
}

.Useful_text a {
    color: #E0ECDE;
}

.Useful_text a:hover {
    color: #68B2A0;
}

.social_icon {
    width: 100%;
    float: left;
}

.social_icon ul {
    margin: 0px;
    padding: 0px;
}

.social_icon li {
    float: left;
    padding-right: 10px;
    padding-top: 20px;
}

.copyright_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    margin-left: 0px;
    color: #fff;
    text-align: center;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #19e9d9;
}

.margin_90 {
    margin: 90px 0px;
}

/* CSS for login.jsp */
.main-wrapper {
    display: flex;
    justify-content: space-between; /* Space out the child elements */
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: auto; /* Center the element */
    /*max-width: 1600px;  You can adjust this value as needed */
    border-radius: 20px;
    margin-top: 30px;
}

.account-wrapper {
    width: 90%; /* Set width to 15% */
}

.account-box {
    margin-left: 20px;
    padding: 20px;
    border-radius: .25rem;
}

.account-logo {
    text-align: center;
    margin-bottom: 20px;
}

.account-logo img {
    max-width: 100px;
}

.account-image{
    width: 80%; /* Set width to take up the rest of the space */
    height: 100%; /* Adjusts the height automatically to maintain aspect ratio */
}

.account-image img {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-group label {
    font-weight: bold; /* Make the label text bold */
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.register-link {
    margin-top: 20px;
}

/*Css for the list box:*/
.list-parent {
    position: relative;
}

.list-child {
    display: none;
    width: max-content;
}

.list-parent:hover .list-child {
    display: block;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 5;
    padding: 10px;
    top: 100%;
    left: 50%; /* Adjust the left position to be 50% of the parent's width */
    transform: translateX(-50%); /* Shift the submenu back by half of its own width */
}

.list-child li {
    border-bottom: 1px solid #ccc; /* Change color as needed */
    padding: 5px 0; /* Add some vertical padding to space out the items */
}

.list-child li:last-child {
    border-bottom: none; /* Remove border from the last item */
}
/*Css for the user register:*/

.main-wrapper-register {
    display: flex;
    flex-direction: column; /* Xếp các phần tử theo cột dọc */
    position: relative;
    /*min-height: fit-content;*/
    background-image: url('../images/login-banner.jpg');
    background-size: cover;
    background-position: center;
    justify-items: center;
    justify-content: center;
    min-height: 800px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main-wrapper-forgot-password {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #E0ECDE;
    border: none;
    border-radius: unset;
}

.main-wrapper-forgot-password .card:first-child {
    width: 36%;
}

.main-wrapper-forgot-password .card-header {
    background-color: #2C6975;
}

.main-wrapper-forgot-password .btn-primary {
    background-color: #68b2a0;
    border: none;
    padding: 8px 24px;
}

.main-wrapper-forgot-password .btn-primary:hover {
    background-color: #2C6975;
    color: #E0ECDE;
}

.main-wrapper-change-password .form-group:last-child {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.main-wrapper-change-password h3 {
    font-weight: 600;
    font-size: 32px;
}

.main-wrapper-change-password .btn-primary {
    margin: 10px;
}

.account-image-register {
    width: 100%; /* Bao phủ toàn bộ chiều rộng của main-wrapper */
    position: absolute;
}

.account-image-register img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100vw;
    height: 100vh;
}

.account-page-register {
    background-color: #fff;
    /*overflow: hidden;*/
    box-sizing: border-box;
    position: relative;
    top: 0; /* Đặt vị trí ở đầu trên của main-wrapper */
    left: 0; /* Đặt vị trí ở bên trái của main-wrapper */
    width: 50%; /* Chiếm toàn bộ chiều rộng của main-wrapper */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    /*text-align: center;*/
    z-index: 1;
    margin-bottom: 20px;
    margin-top: 20px;
}

.account-btn {
    padding: 8px 32px;
    margin-top: 24px;
    background-color: #2C6975;
    border: none;
    border-radius: 6px; 
    font-size: 24px;
}

.account-btn:hover {
    background-color: #E0ECDE;
    cursor: pointer;
    color: #2C6975;
}

.register-link:hover {
    opacity: 0.7;
}

/*Css for the doctor information in a list of doctors:*/
.doctors-container {
    /* Sử dụng flexbox để căn giữa các doctor-card theo chiều ngang */
    display: flex;
    flex-wrap: wrap; /* Cho phép các doctor-card xuống dòng khi không đủ chỗ */
    justify-content: flex-start; /* Canh giữa giữa các doctor-card */
    margin-left: 10vw;
}

.doctor-card {
    display: flex;
    margin-bottom: 20px;
    margin-right: 10px;
    background: #fff;
    margin: 1%;
    width: 27%; /* Độ rộng của mỗi doctor-card, để hiển thị 3 trên cùng một dòng */
    box-sizing: border-box; /* Đảm bảo kích thước tính bao gồm cả padding và border */
    float: left; /* Đặt căn lề bên trái */
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 2px 2px 1px;
    /*border: 1px solid gray;*/
    transition: border 0.3s;
}
.doctor-card:hover {
    border: 1px solid #888;
}
.doctor-card img {
    max-width: 100%;
    height: fit-content;
    margin: 5%;
}

.doctor-image {
    /* Định dạng cho ảnh bác sĩ */
    width: 100px; /* Chiều rộng cố định */
    height: 100px; /* Chiều cao cố định */
    margin-right: 20px; /* Khoảng cách giữa ảnh và thông tin cá nhân */
}

.doctor-info {
    /* Định dạng cho thông tin cá nhân */
    text-align: left;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.doctor-name {
    font-size: 1.2em; /* Kích thước tên bác sĩ lớn hơn */
    font-weight: bold; /* In đậm */
}

.button-container {
    margin-top: auto;
}

.book-appointment {
    background-color: #2C6975;
    color: #E0ECDE;
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px;

}
.book-appointment:hover {
    background-color: #E0ECDE;
    border: 1px solid #ccc;
    color: #2C6975;
}
.book-appointment-url {
    color: #E0ECDE;
    padding: 10px;
}

.book-appointment-url:hover{
    color: #2C6975;
}

/*Css for the branch-profile-header:*/
.doctor-profile-header,
.branch-profile-header {
    background-image: url('../images/medical-background-green.png');
    /*filter: brightness(0) saturate(100%) invert(30%) sepia(68%) saturate(383%) hue-rotate(142deg) brightness(100%) contrast(88%);*/
    background-size: cover; /* Hiển thị ảnh nền với kích thước tối ưu */
    background-position: center; /* Căn giữa ảnh nền */
    background-repeat: no-repeat; /* Không lặp lại ảnh nền */
    padding: 20px; /* Khoảng cách giữa nội dung và viền */
    display: flex; /* Sử dụng flexbox để căn giữa phần bên trái và bên phải */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 10%;
    margin-bottom: 50px;
}

.branch-image {
    width: 100px; /* Độ rộng của hình ảnh branch */
    height: 100px; /* Chiều cao của hình ảnh branch */
    border-radius: 5%; /* Để làm tròn hình ảnh */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    transform: scale(1.3);
    margin-left: 10vw;
}

.branch-name {
    font-size: 32px; /* Kích thước font cho tên branch */
    font-weight: bold; /* In đậm cho tên branch */
    color: #fff; /* Màu chữ */
    display: block;
    flex: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    padding-left: 50px;
}

/*Css for the branch-profile-header:*/
.branch-profile-header {
    background-image: url('../images/medical-background-green.png');
    background-size: cover; /* Hiển thị ảnh nền với kích thước tối ưu */
    background-position: center; /* Căn giữa ảnh nền */
    background-repeat: no-repeat; /* Không lặp lại ảnh nền */
    padding: 20px; /* Khoảng cách giữa nội dung và viền */
    display: flex; /* Sử dụng flexbox để căn giữa phần bên trái và bên phải */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 70px;
    margin-bottom: 50px;
}

.branch-image {
    width: 100px; /* Độ rộng của hình ảnh branch */
    height: 100px; /* Chiều cao của hình ảnh branch */
    border-radius: 5%; /* Để làm tròn hình ảnh */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    transform: scale(1.3);
    margin-left: 10vw;
}

.branch-name {
    font-size: 32px; /* Kích thước font cho tên branch */
    font-weight: bold; /* In đậm cho tên branch */
    color: #fff; /* Màu chữ */
    display: block;
    flex: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    padding-left: 50px;
}

/*Css for the branch information:*/
.branch-info {
    border: 1px solid #ccc; /* Border màu xám nhạt */
    padding: 10px;
    /*margin: 10px;*/
    background-color: #fff;
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
}

.intro-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #ddd; /* Underline nhạt dưới tiêu đề */
    padding: 20px;
    margin: -10px;
}

.intro-header:hover {
    background-color: #eceaea;
}

.intro-header h3 {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
}

.toggle-icon {
    font-size: 16px;
    transition: transform 0.3s;
}

.intro-content {
    /*display: none;*/
    padding-top: 10px;
}

.branch-info.open .toggle-icon {
    transform: rotate(180deg); /* Hiệu ứng xoay mũi tên khi mở */
}

.branch-info.open .intro-content {
    display: block; /* Hiện phần thông tin khi mở */
}

/*Css for the doctor detail page:*/
.doctor-profile-bottom {
    background-color: #fff;
    width: 100%;
    height: 50px;
    margin-top: -50px;
    border-top: 3px solid #ccc;
    padding-right: 10%;
}

.tab-components {
    display: block;
    height: 100%;
    float: right;
    text-align: center;
    border: none;
}

ul .tab-component {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    height: 100%;
    align-items: center;

}

ul .tab-component a {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    color: #68B2A0;
}

ul .tab-component:hover {
    color: #68B2A0;
}

.tab-content>.active  {
    display: inline-block;
}

/* CSS */
.doctor-container > div {
    display: none;
}

#detail-info {
    display: block;
}


.tab-component.active {
    background-color: #2C6975;
    color: #fff;
}

.tab-component:not(.active):hover {
    background-color: #68B2A0;
    color: #fff;
}

.tab-component:not(.active):hover a{
    color: #fff;
}

.booking-tab a{
    color: #289a5a;
    font-size: 24px;
    font-weight: 700;
}

/*Css for the doctor-container:*/
.doctor-container {
    background-color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
}

.detail-field {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    /*padding: 20px;*/
    margin-bottom: 10px;
}

.detail-field-header {
    border-bottom: 1px solid #ccc;
}

/*Css for class collapse-trigger:*/

.detail-field-header {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #ddd; /* Underline nhạt dưới tiêu đề */
}
.detail-field-header h2 {
    padding: 0;
}
.detail-field-header h2 {
    margin: 0;
}

/*Css for the doctor images:*/
#images-doctor-content img{
    width: 150px;
    height: fit-content;
    border: 1px solid #ccc;
}
/*Css for the rating - review of a doctor:*/

.rating-and-time {
    align-items: center;
}

.each-review-detail {
    padding: 16px;
    border-bottom: 1px solid #ccc;
}
.each-review-detail:last-child {
    border-bottom: none;
}

.each-review-detail p {
    margin: 0;
    margin-left: 10px;
    color: #333;
    font-weight: 500;
}
.rating-and-time p {
    color: #ccc;
}

.star-rating {
    display: inline-flex;
}

.fa-star,
.fa-star-half-alt{
    color: #f2ae1c;
}

.fa-star-grey {
    color: #ccc;
}

.time-rating {
    padding-left: 36px;
}

.each-star-rating {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.each-star-rating:last-child {
    border-bottom: none;
}

.detail-field-header-overview-rating {
    display: flex;
    align-items: center;
    width: 100%;
}
.detail-field-header-overview-rating span {
    flex: 1;
    text-align: right;
}

.detail-field-header a{
    z-index: 9;
}

/*Css for experience content:*/
.overview-rating-content-each,
.education-content-each,
.service-content-each,
.awards-content-each,
.experience-content-each {
    border-bottom: 1px solid #ccc;
}

#introduce-content {
    padding: 20px;
}

#introduce-content p {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#service-content p,
#workplace-content p,
.experience-content-each  p {
    font-weight: 600;
}

.overview-rating-content-each:last-child,
.education-content-each:last-child,
.service-content-each:last-child,
.awards-content-each:last-child,
.experience-content-each:last-child {
    border-bottom: none;
}

.papers-content-each ul{
    margin: 20px;
}

.papers-content-each ul,
.papers-content-each li {
    list-style: inside;
}

/*Css the rating-bar:*/
.rating-bar {
    width: 200px; /* Chiều rộng tổng của thanh dài */
    height: 10px; /* Chiều cao của thanh dài */
    background-color: #ccc; /* Màu nền của thanh dài */
    position: relative; /* Để có thể sử dụng position absolute cho .filler */
    flex: 7;
    border-radius: 20px;
    overflow: hidden;
}

.rating-bar-filler {
    height: 100%; /* Chiều cao của phần filler */
    background-color: #4CAF50; /* Màu của phần filler */
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s; /* Hiệu ứng thay đổi chiều rộng */
    white-space: nowrap; /* Đảm bảo văn bản không bị tràn ra khỏi thanh dài */
    color: #fff; /* Màu văn bản trên thanh dài */
    text-align: center; /* Canh giữa văn bản */
    line-height: 10px; /* Canh giữa theo chiều dọc */
}

.star-rating-index {
    flex: 1;
    margin-right: 5px;
    text-align: right;
}

.star-rating-icon {
    flex: 1;
    margin-left: 5px;
    text-align: left;
}

.star-rating-text {
    flex: 2;
}

.doctor-container h2 {
    font-size: 24px;
}

.detail-field-header-overview-rating .star-rating i .fa-star{
    background-color: #ccc;
}

.overview-rating-content-each span {
    display: block;
}

.overview-rating-content-each {
    display: flex;
    padding: 10px;
}

.rating-field {
    flex: 1;
    color: #2C6975;
}

.rating-value {
    font-weight: 600;
}



/* -------------------------------- Style for user-search-result.jsp -------------------------------- */

.search-container {
    margin-bottom: 100px;
}

.search-doctor-title {
    text-align: center; /* Căn giữa tiêu đề */
    margin-top: 20px; /* Khoảng cách từ trên xuống */
    font-size: 36px; /* Kích thước tiêu đề */
    font-weight: bold; /* In đậm */
    color: #2C6975; /* Màu chữ tiêu đề */
}

/* Style cho danh sách bác sĩ theo chiều ngang */
.vertical-doctor-list {
    display: block; /* Hiển thị các phần tử con theo chiều ngang */
}

.doctor-img {
    display: flex;
    flex-direction: column;
}

/* Style cho mỗi phần tử bác sĩ trong danh sách */
.search-doctor-block {
    min-width: 100%; /* Kích thước của mỗi phần tử bác sĩ */
    min-height: fit-content;
    margin-right: 20px; /* Khoảng cách giữa các phần tử bác sĩ */
    display: flex; /* Hiển thị các phần tử con bên trong theo chiều ngang */
    flex-direction: row; /* Sắp xếp các phần tử con bên trong theo chiều dọc */
    justify-content: space-between;
    box-shadow: 0px 0px 6px #2C6975;
    border-radius: 20px;
    padding: 20px;
    line-height: 1.2;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

/* Style cho thông tin bác sĩ */
.search-doctor-information {
    flex-grow: 1; /* Để phần thông tin bác sĩ mở rộng để lấp đầy khoảng trống còn lại */
    display: flex;
    flex-direction: column;
}

.search-doctor-name {
    font-size: 1.2em;
    font-weight: bold;
}

.search-doctor-introduce {
    padding-right: 20px;
    flex-grow: 1;
}

/* Style cho phần giới thiệu */
.search-doctor-intro {
    color: gray;
    max-height: 100px; /* Điều này giới hạn chiều cao của phần giới thiệu */
}

.search-find-more {
    align-items: center;
    margin-right: 100px;
    padding-top: 40px;
    background-color: white;
}

/* Style cho nút 'Tìm hiểu thêm' */
.search-find-more a {
    position: static;
    transform: translateX(-50%);
    background-color: #2C6975;
    color: #E0ECDE;
    border-radius: 10px;
    margin-right: 5px;
    padding: 10px;
}

.search-find-more a:hover {
    background-color: #E0ECDE;
    color: #2C6975;
    border: 1px solid #2C6975;
}

.pagination {
    margin-bottom: 40px;
    margin-top: 40px;
}

.page-item.active .page-link {
    background-color: #2C6975;
    color: #E0ECDE;
    border: 1px solid #E0ECDE;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
}

.page-link {
    color: #2C6975;
    padding: 15px;
    font-size: 1.2em;
}

.page-item .page-link:hover {
    background-color: #68B2A0;
    color: #E0ECDE;
    border: 1px solid #E0ECDE;
}

.profile-wrapper{
    justify-content: unset;
    align-items: unset;
    width: 90%;
    margin-bottom: 30px;
}

.sidebar{
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #dbdbdb;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    font-size: 20px;
    padding: 20px 40px 20px 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #dbdbdb;
}

.sidebar ul a:hover {
    background-color: #ededed;
}
.sidebar ul li:first-child a:hover{
    background-color: #ededed;
    border-top-left-radius: 20px;
}

.sidebar-active{
    background-color: #d7ecf0;
    border-right: 4px solid #2C6975;
}

.sidebar-active:first-child{
    background-color: #d7ecf0;
    border-right: 4px solid #2C6975;
    border-top-left-radius: 20px;
}

/* Define styles for the search box */
.search-box {
    width: 370px; /* Adjust for sidebar width */
    padding: 20px;
    overflow: auto;
}

.search-box input{
    width: 100%; /* Adjusted width to fill the .search-box */
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    border-width: 1px;
}

.profile-list {
    text-decoration: none;
}

.profile-item {
    display: flex;
    align-items: center; /* Vertically center items within each list item */
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.profile-item h3{
    padding-bottom: 0;
}

.profile-item-pics {
    position: relative;
    flex: 0 0 auto; /* Prevent this div from growing or shrinking */
    margin-right: 10px; /* Add some spacing between pics and info */
}

.profile-item-pics span{
    position: absolute;
    bottom: 0;
    color: #fff;
    border-radius: 20px;
    background-color: #1ead5b;
    font-size: 10px;
    width: 100%;
    left: 0;
    text-align: center;
}

.profile-item-pics-relation{
    color: #fff;
    border-radius: 20px;
    background-color: #1ead5b;
    font-size: 12px;
    padding: 3px;
    text-align: center;
}
.profile-item-info {
    flex: 1; /* Allow this div to grow and take up remaining space */
}

.profile-item-active{
    background-color: #ededed;
}

/* Add styles for profile display */
.profile-display {
    width: 60%;
    clear: both; /* Clear floats to prevent overlapping */
    padding: 20px;
}

.profile-display-header{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.profile-display-pics{
    padding-right: 10px;
}

.profile-display h2{
    padding-bottom: 0;
}

.profile-display-basic,
.profile-display-addition {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin-bottom: 20px;
}

.profile-display-basic span,
.profile-display-addition span {
    font-weight: bold;
}

.profile-pics{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* CSS code style for user-news.jsp  */

.display-news {
    margin-bottom: 300px;
}

.container .row h1{
    margin-top: 5%;
}

.display-title {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #2c6975;
}

.news {
    display: flex;
    flex-direction: column;
}

.fit-height {
    flex-grow: 1;
    object-fit: contain;
    border-radius: 10px;
}

.display-title {
    font-size: 32px;
}

.news-content {
    padding-top: 20px;
}

.news-content h1,
.news-content h2,
.news-content h3,
.news-content h4,
.news-content h5,
.news-content h6 {
    color: #2C6975;
}

.news-content p,
.news-content li {
    font-size: 16px;
}

.news-content ul {
    margin-left: 20px;
}

.news-content li {
    margin-left: 15px;
    list-style: circle;
    color: #2C6975;
}

.category-box {
    border: 1px solid #2C6975;
    border-radius: 10px;
    background-color: #E0ECDE;
    padding: 10px;
}

.category-box .category-name {
    color: #2C6975;
}

.category-box:hover {
    background-color: #2C6975;
    border: 1px solid #E0ECDE;
}

.category-box .category-name:hover {
    color: #E0ECDE;
}

.bordered-news {
    border: 1px solid #68B2A0;
    margin-top: 5%;
    height: min-content;
    border-radius: 20px;
}

.col-md-4 .related-news {
    margin-top: 10%;
    margin-bottom: 10%;
}
/* CSS code style for user-news.jsp  */
/*TU BINH - SEP 28 2023 - CSS Screen: Booking Appointment:*/
.booking-container {
    margin: 10%;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px 5%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.btn-booking .btn-primary {
    background-color: #2C6975;
    width: 130px;
    margin: 20px;
    border: none;
}

.form-group-booking {
    /*display: inline-block;*/
}

.booking-info {

}

#serviceId {
    max-height: 150px; /* Đặt độ cao tối đa của mục lựa chọn */
    overflow-y: auto; /* Hiển thị thanh cuộn theo chiều dọc khi cần */
}

.booking-container .nice-select {
    background-color: #fff;
    color: #333;
    margin: 10px;
    max-height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
}

.booking-container .nice-select ul {
    max-height: 150px;
    overflow-y: auto;
}


.booking-container .nice-select li:hover {
    background-color: #1ead5b;
}


/*css Oct 07 20223: */
.booking-select-class {
    margin: 10px;
    width: 250px;
    height: 45px;
    border-radius: 5px;
}

.booking-select-class option:hover {
    display: block;
    background-color: #1ead5b;
}

.booking-container .booking-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 16px;
}

.booking-container .btn-booking {
    border-top: 1px solid #ccc;
    padding-top: 16px;
}

.booking-container .btn-booking button {
    width: 150px;
}

.booking-container #step-2-container,
.booking-container #step-3-container{
    display: none;
}

#step-1-container input[type="tel"],
#step-1-container input[type="text"],
#step-1-container input[type="password"] {
    width: 80%;
    margin: 10px;
}
#step-1-container #patientName {
    width: 50%;
    margin: 10px;
}

#step-1-container input[type="date"] {
    margin: 10px;
}

#step-1-container input[type="radio"] {
    margin-left: 10px;
}

.group-info-booking-table
{
    width: 100%;
}

.group-info-booking-table th:first-child,.group-info-booking-table td:first-child{
    width: 150px;
}
.error-message-input-step-1,
.error-message-input-step-2 {
    color: red;
    margin: 0;
    margin-left: 10px;
    margin-top: -10px;
    font-size: 12px;
    padding: 0;
}

/*Css for the family profile - 12 Oc 2023:*/
.family-profiles-container {
    display: flex;
    padding-bottom: 32px;
    /*border-bottom: 1px solid #ccc;*/
}

.each-family-profile {
    width: 7%;
    margin: 15px;
    border-radius: 50%;
    border: 1px solid #333;
    position: relative;
    text-align: center;
    justify-content: end;
    align-items: center;
    display: flex;
}

.add-family-profile {
    border: none;
    width: 4%;
    margin: 15px;
    border-radius: 50%;
    position: relative;
    text-align: center;
    justify-content: end;
    align-items: center;
    display: flex;
}

.add-family-profile {
    position: relative;
}

.add-family-profile:hover::before {
    content: "Add new profile";
    display: inline-block;
    position: absolute;
    top: 80%; /* Đặt vị trí của văn bản xuống dưới */
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 5px;
    opacity: 1;
    z-index: 1;
    font-size: 8px;
    width: 80px;
}

.confirm-edit-profile-text {
    color: blue;
    font-size: 16px;
}

.confirm-edit-profile-text:hover {
    color: #1ead5b;
    cursor: pointer;
}

.add-family-profile:hover {
    opacity: 0.7;
    cursor: pointer;
}

.each-family-profile:hover span.relation-each-family-profile {
    background-color: springgreen;
}

.each-family-profile:hover {
    border: 3px solid springgreen;
    cursor: pointer;
}

.each-family-profile-active {
    border: 3px solid springgreen;
    position: relative;
}

.each-family-profile-active::before {
    content: "";
    background-image: url(../images/active-icon.png);
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    right: 0;
    z-index: 1; /* Đặt z-index để nổi lên phía trên */
}

span.relation-each-family-profile {
    position: absolute;
    bottom: -2%;
    width: 100%;
    background-color: #1ead5b;
    color: #fff;
    border-radius: 20px;
}

span.name-each-family-profile {
    position: absolute;
    bottom: -40px;
    width: 100%;
}

.btn-booking-hover:hover {
    background-color: #68b2a0;
    color: #E0ECDE;
}
.related-news {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.btn-read-more {
    background-color: #2C6975;
    border: 1px solid #E0ECDE;
    color: #E0ECDE;
}

.btn-read-more:hover {
    background-color: #E0ECDE;
    border: 1px solid #2C6975;
    color: #2C6975;
}

.card-title {
    font-weight: bold;
    font-size: 18px;
    color: #2C6975;
}



/* CSS for modal overlay */
.form-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 2;
    width: 40%;
    max-height: 90vh; /* Adjust this value as needed */
    overflow-y: auto; /* Adds a scrollbar if the content is taller than the max-height */
}


.form-container h3 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    font-weight: bold;
}

.form-container input[type=text],
.form-container input[type=date],
.form-container input[type=tel],
.form-container select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button{
    border-radius: 5px;
}
.form-buttons {
    text-align: right;
}
.button-container {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.button-container:hover {
    opacity: 0.8;
}

.form-container input{
    width: 100%;
}
#addProfileButton{
    margin-top: 10px;
    background-color: #68B2A0;
    width: 100%;
    height: 5vh;
    border-radius: 10px;
}
#editProfileButton{
    margin-top: 10px;
    background-color: #68B2A0;
    width: 100%;
    height: 5vh;
}

#deleteProfileButton{
    font-size: 1.5rem;
    color: #e93535;
    margin-top: 10px;
    width: 100%;
    height: 5vh;
    background-color: unset;
}

#editProfileButton {
    margin-top: 10px;
    background-color: #68B2A0;
    width: 100%;
    height: 5vh;
    border-radius: 10px;
}

#deleteProfileButton {
    margin-top: 10px;
    background-color: #fff;
    width: 100%;
    height: 5vh;
    color: red;

}

#female,#male{
    width: auto;
}
#submit-button{
    padding: 10px;
    background-color: #68B2A0;
}
#close-button{
    padding: 10px;
    background-color: #ccc;
}
#delete-submit-button{
    padding: 10px;
    background-color: #68B2A0;
}
#delete-close-button{
    padding: 10px;
    background-color: #ccc;
}

#submit-otp-button {
    background-color: #2C6975;
}
#submit-otp-button:hover {
    background-color: #68B2A0;
}
/* CSS code style for user-news-general.jsp  */

.display-sidebar {
    margin-bottom: 300px;
}

.category-content {
    background-color: #E0ECDE;
    padding: 20px;
    margin: 20px;
}

.category-content .main-category a {
    color: #2C6975;
    font-weight: bolder;
    font-size: 1.5em;
    border-bottom: 1px solid #2C6975;
}

.category-content .main-category a:hover {
    color: #68B2A0;
    border-bottom: 1px solid #68B2A0;
}

/* Add styles for the sub-categories */
.category-content .sub-categories a {
    color: #2C6975;
    font-weight: normal; /* Make the sub-category text not bold */
    font-size: 1em; /* Make the sub-category text smaller */
    margin-right: 20px;
}

.category-content .sub-categories a:hover {
    color: #68B2A0;
}

.news-sidebar {
    height: fit-content;
    border-right: 1px solid #68B2A0;
    margin-top: 5%;

}

.news-sidebar li {
    border-bottom: 1px solid #E0ECDE;
    list-style-type: none;
    padding: 10px;
    position: relative;
    font-weight: bold;
}

.news-sidebar li a {
    color: #2C6975;
}

.news-sidebar li a:hover {
    color: #68B2A0;
}

.news-sidebar li:last-child {
    border-bottom: none;
}

.news-sidebar .list-child {
    display: none;
    margin-left: 20px;
}

.news-sidebar li ul {
    display: none;
}

.caret-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    transition: transform 0.3s ease;
}

.caret-icon i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.news-sidebar li ul a {
    color: #68B2A0;
}

.news-sidebar li ul a.active {
    color: black; /* Đặt màu chữ thành đen */
    font-weight: bold; /* In đậm chữ */
    pointer-events: none; /* Ngăn chặn sự kiện click */
    cursor: default; /* Thay đổi con trỏ chuột để không hiển thị như một liên kết */
}

.news-sidebar a.active {
    color: black; /* Đặt màu chữ thành đen */
    font-weight: bold; /* In đậm chữ */
    pointer-events: none; /* Ngăn chặn sự kiện click */
    cursor: default; /* Thay đổi con trỏ chuột để không hiển thị như một liên kết */
}

.news-sidebar li ul a:hover {
    color: #2C6975;
}

.col-md-9 .centered-news .centered-img img {
    height: 100%; /* This will make the image take the full height of the .col-md-9 */
    width: auto; /* This will make sure the width changes proportionally */
    object-fit: contain; /* This makes sure the entire image is shown */
}

.grid-news {
    border-top: 1px solid #E0ECDE;
    display: flex;
    flex-direction: row;
}

.grid-news h3 {
    font-weight: bold;
    color: #2C6975;
}

.grid-img {
    padding: 30px;
}

.news-information {
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 30px;
    flex-wrap: wrap;
    /*justify-content: center;*/
}

.grid-news .grid-img img {
    max-width: 260px;
    height: auto;
    border-radius: 10px;
}

.news-href {
    padding-top: 10px;
    color: #2c6975;
}

.news-href i {
    color: #2c6975;
}

.news-href:hover {
    color: #E0ECDE;
}

/*------------------------- Style for breadcrumb.jsp -------------------------*/
.breadcrumb-item a {
    color: #2C6975;
    font-size: 18px;
}

.breadcrumb-item a:hover {
    color: #68B2A0;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #2C6975;
    color: #E0ECDE;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    font-size: 1.2em;
}
#back-to-top:hover {
    background: #68B2A0;
}
#back-to-top.show {
    opacity: 1;
}

/*Style 25/10/2023 - tubinh - start:*/
.appointment-header-text {
    margin: 15%;
    margin-bottom: -10%;
    margin-top: 0;
    font-weight: 800;
    font-size: 30px;
}
/*Style 25/10/2023 - tubinh - end:*/
